.component-root {
  margin: 0;
  padding: var(--content-padding);
  color: var(--colour-text-main);
  max-width: var(--content-width);
  background-color: var(--content-background-colour);
  transition: var(--transition-theme);
  margin: var(--content-margin);
}

.post {
  display: block;
  color: var(--colour-text-main);
  border: 0.2rem dotted transparent;
  margin: 4rem 0;
  padding: 1rem;
  transition: var(--transition-theme), border-color var(--transition-average);
}

.post:hover {
  color: var(--colour-text-main);
  border-color: var(--colour-link-border);
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  margin-bottom: 0;
}

.title-row {
  display: flex;
  align-items: center;
  margin: 0 0 1rem 0;
}

.title-row > * {
  margin: 0;
  margin-right: 1rem;;
}

.title-row > :last-child {
  margin-right: 0;
}

.date {
  font-size: 1.5rem;
}
