.component-root {
  --title-bar-border: 0.2rem;

  position: relative;
  margin: 0;
  padding: var(--padding-content);
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: var(--title-bar-border) solid var(--border-code-heading);
  transition: var(--transition-theme);
}

.title {
  color: var(--colour-text);
  margin: 0;
  border: none;
  flex: 1 1 auto;
}

h1.title a {
  color: var(--colour-text);
}

/* for-phone-only */
@media only screen and (max-width: 599px) {
  .component-root {
    padding: 0 0 0 2rem;
  }

  .title {
    font-size: 3rem;
    line-height: 3rem;
  }
}

/* for-tablet-landscape-down */
@media only screen and (max-width: 900px) {
  .component-root {
    padding: 1rem var(--padding-content);
  }

  .title {
    font-size: 3rem;
    line-height: 3rem;
  }
}
