.component-root {
  --title-bar-border: 0.2rem;

  position: relative;
  margin: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  border-bottom: var(--title-bar-border) solid var(--border-code-heading);
  transition: var(--transition-theme);
}

.component-root > * {
  margin-right: 1rem;
}

.component-root > :last-child {
  margin-right: 0;
}

.title {
  margin: 0;
  border: none;
  flex: 1 1 auto;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

/* for-tablet-landscape-up */
@media only screen and (min-width: 900px) {
  .title {
    font-size: 5rem;
    line-height: 5rem;
  }
}
