code,
pre {
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono",
    "Courier New", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 2;
  hyphens: none;
}

@media print {
  code,
  pre {
    text-shadow: none;
  }
}

pre {
  overflow-x: auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 0.8em;
}

:not(pre) > code {
  border-radius: 0.3rem;
  padding: 0.2rem 0.4rem;
  white-space: normal;
  font-size: 0.85em;
}

.token.bold,
.token.important {
  font-weight: 700;
}

/* Line number */

pre.line-numbers {
  padding-left: 3.5em;
  counter-reset: line-number;
}

pre.line-numbers > code {
  counter-reset: line-number;
  position: relative;
}

.line-numbers .line-number-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid;
  user-select: none;
}

.line-number-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: line-number;
}

.line-number-rows > span::before {
  content: counter(line-number);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
