.dark {
  --background-colour-document: #0d1014;
  --background-colour-content: #0e1a2d;

  --border-code-heading: #ff6768;

  --colour-text-main: #eeeeee;
  --colour-link-decoration: #ff6768;
  --colour-link-hover: #ff6768;

  --background-colour-text-code: #00101d;
  --colour-text-code: #d6deeb;

  --spinner-main: #dddddd;
  --spinner-secondary:  rgba(255, 255, 255, .3);

  --toggle-main: #dddddd;
  --toggle-secondary:  rgba(255, 255, 255, .3);

  --fill-icon: #dddddd;
  --border-colour-button: #dddddd;
}

.light {
  --background-colour-document: #eeeeee;
  --background-colour-content: #ffffff;

  --border-code-heading: #ff6768;

  --colour-text-main: #343438;
  --colour-link-decoration: #ff6768;
  --colour-link-hover: #ff6768;

  --background-colour-text-code: #eeeeee;
  --colour-text-code: #343438;

  --spinner-main: #343438;
  --spinner-secondary:  rgba(200, 200, 200, .6);

  --toggle-main: #343438;
  --toggle-secondary:  rgba(100, 100, 100, .4);

  --fill-icon: #343438;
  --border-colour-button: #343438;
}