article {
  margin: 2rem;
  font-size: 1.8rem;
}

pre {
  padding: 1rem;
  color: var(--text-code);
  overflow: auto;
  counter-reset: code-line;
}

a {
  color: var(--text-link);
  text-decoration: none;
  border-bottom: 1px dotted var(--text-link);
}
