:root {
  --transition-simple: 100ms ease-in-out;
  --transition-average: 200ms ease-in-out;
  --transition-complex: 500ms ease-in-out;
  --transition-slow: 1s ease-in-out;
  --transition-theme: border-color 1s ease-in-out, color 1s ease-in-out, fill 1s ease-in-out, background-color 1s ease-in-out;
  --content-width: 80rem;
}

a {
  color: var(--text-link);
  text-decoration: none;
  transition: var(--transition-theme);
}

article {
  padding: 2.4rem;
  font-size: 1.8rem;
}

article > :first-child {
  margin-top: 0;
}

article > :last-child {
  margin-bottom: 0;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  display: flex;
  align-items: center;
}

a.hash-link {
  border-bottom: none;
  display: block;
  height: 2.4rem;
}

a.hash-link svg {
  fill: transparent;
}

article h1:hover a.hash-link svg,
article h2:hover a.hash-link svg,
article h3:hover a.hash-link svg,
article h4:hover a.hash-link svg,
article h5:hover a.hash-link svg,
article h6:hover a.hash-link svg {
  fill: var(--icon-fill);
}
h1, h2, h3, h4, h5, h6 {
  color: var(--text-heading);
  transition: var(--transition-theme);
  border-bottom: 0.2rem solid var(--border-heading);
}


pre {
  padding: 1rem;
  transition: var(--transition-theme);
  overflow: auto;
  counter-reset: code-line;
}
