:root {
  --transition-simple: 100ms ease-in-out;
  --transition-average: 200ms ease-in-out;
  --transition-complex: 500ms ease-in-out;
  --transition-slow: 1s ease-in-out;
  --transition-theme: border-color 1s ease-in-out, color 1s ease-in-out, fill 1s ease-in-out, background-color 1s ease-in-out;
  --content-width: 80rem;
}

a {
  color: var(--colour-text-main);
  border-bottom: solid 0.2rem var(--colour-link-border);
  text-decoration: none;
  transition: var(--transition-theme), color var(--transition-average);
}

a:hover {
  color: var(--colour-link-hover);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--colour-link-border);
  border-bottom: none;
}

article {
  padding: 2.4rem;
  font-size: 2rem;
}

article pre, article code {
  font-size: 1.6rem;
}

article > :first-child {
  margin-top: 0;
}

article > :last-child {
  margin-bottom: 0;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  display: flex;
  align-items: center;
}

a.hash-link {
  border-bottom: none;
  display: block;
  height: 2.4rem;
  margin: 0 0.5rem;
}

a.hash-link svg {
  fill: transparent;
  transition: var(--transition-theme), fill var(--transition-average);
}

article h1:hover a.hash-link svg,
article h2:hover a.hash-link svg,
article h3:hover a.hash-link svg,
article h4:hover a.hash-link svg,
article h5:hover a.hash-link svg,
article h6:hover a.hash-link svg {
  fill: var(--icon-fill);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-heading);
  transition: var(--transition-theme);
  border-bottom: 0.2rem solid var(--border-code-heading);
}
h1 {
  margin-top: 6rem;
  padding-bottom: 0.25rem;
  border-bottom: 0.4rem solid var(--border-code-heading);
}
h2 {
  margin-top: 5rem;
}
h3 {
  margin-top: 4rem;
}

p code {
  color: var(--colour-text-code);
  background-color: var(--background-colour-text-code);
  transition: var(--transition-theme);
  padding: 0.1rem 0.3em;
}
