/* Night Owl (No Italics) */
.dark {
  --highlight-colour: #d6deeb;
  --highlight-background-colour: #00101d;
  --highlight-line-number-colour: #7c9797;

  --highlight-colour-atrule: #ffcb8b;
  --highlight-colour-attr-name: #addb67;
  --highlight-colour-attr-value: #ffcb8b;
  --highlight-colour-boolean: #ff5874;
  --highlight-colour-builtin: #82aaff;
  --highlight-colour-cdata: #7c9797;
  --highlight-colour-char: #82aaff;
  --highlight-colour-class-name: #ffcb8b;
  --highlight-colour-comment: #7c9797;
  --highlight-colour-constant: #82aaff;
  --highlight-colour-css-string: #addb67;
  --highlight-colour-deleted: #ef5350;
  --highlight-colour-doctype: #c792ea;
  --highlight-colour-entity: #addb67;
  --highlight-colour-function: #82aaff;
  --highlight-colour-important: #d6deeb;
  --highlight-colour-inserted: #addb67;
  --highlight-colour-interpolation-punctuation: #d3423e;
  --highlight-colour-keyword: #7fdbca;
  --highlight-colour-namespace: #b2ccd6;
  --highlight-colour-number: #f78c6c;
  --highlight-colour-operator: #7fdbca;
  --highlight-colour-prolog: #7c9797;
  --highlight-colour-property: #80cbc4;
  --highlight-colour-punctuation: #c792ea;
  --highlight-colour-regex: #d6deeb;
  --highlight-colour-selector: #c792ea;
  --highlight-colour-string: #ecc48d;
  --highlight-colour-style-string: #addb67;
  --highlight-colour-symbol: #80cbc4;
  --highlight-colour-tag: #7fdbca;
  --highlight-colour-url: #addb67;
  --highlight-colour-variable: #d6deeb;
}

/* Night Owl Light (No Italics) */
.light {
  --highlight-colour: #403f53;
  --highlight-background-colour: #eeeeee;
  --highlight-line-number-colour: #989fb1;

  --highlight-colour-atrule: #111;
  --highlight-colour-attr-name: #4876d6;
  --highlight-colour-attr-value: #111;
  --highlight-colour-boolean: #bc5454;
  --highlight-colour-builtin: #4876d6;
  --highlight-colour-cdata: #989fb1;
  --highlight-colour-char: #4876d6;
  --highlight-colour-class-name: #111;
  --highlight-colour-comment: #989fb1;
  --highlight-colour-constant: #4876d6;
  --highlight-colour-css-string: #4876d6;
  --highlight-colour-deleted: #ef5350;
  --highlight-colour-doctype: #994cc3;
  --highlight-colour-entity: #4876d6;
  --highlight-colour-function: #994cc3;
  --highlight-colour-important: #c96765;
  --highlight-colour-inserted: #4876d6;
  --highlight-colour-interpolation-punctuation: #d3423e;
  --highlight-colour-keyword: #0c969b;
  --highlight-colour-namespace: #0c969b;
  --highlight-colour-number: #aa0982;
  --highlight-colour-operator: #0c969b;
  --highlight-colour-prolog: #989fb1;
  --highlight-colour-property: #0c969b;
  --highlight-colour-punctuation: #994cc3;
  --highlight-colour-regex: #c96765;
  --highlight-colour-selector: #994cc3;
  --highlight-colour-string: #4876d6;
  --highlight-colour-style-string: #4876d6;
  --highlight-colour-symbol: #0c969b;
  --highlight-colour-tag: #994cc3;
  --highlight-colour-url: #4876d6;
  --highlight-colour-variable: #c96765;
}