.dark {
  --background-document: #0d1014;;
  --background-content: #0e1a2d;
  --background-code: #232529;

  --text-main: #c1ccdd;
  --text-code: #c1ccdd;
  --text-link: #96a4b8;

  --spinner-main: #dddddd;
  --spinner-secondary:  rgba(255, 255, 255, .3);

  --toggle-main: #dddddd;
  --toggle-secondary:  rgba(255, 255, 255, .3);

  --icon-fill: #dddddd;
}

.light {
  --background-document: #ffffff;
  --background-content: #ffffff;
  --background-code: #45474b;

  --text-main: #343438;
  --text-code: #dddddd;
  --text-link: #121216;

  --spinner-main: #343438;
  --spinner-secondary:  rgba(255, 255, 255, .6);

  --toggle-main: #343438;
  --toggle-secondary:  rgba(100, 100, 100, .4);

  --icon-fill: #343438;
}