.dark {
  --background-document: #0d1014;
  --background-content: #0e1a2d;
  --background-code: #232529;

  --border-heading: #ff6768;

  --text-main: #eeeeee;
  --text-code: #eeeeee;
  --text-link: #ff6768;

  --spinner-main: #dddddd;
  --spinner-secondary:  rgba(255, 255, 255, .3);

  --toggle-main: #dddddd;
  --toggle-secondary:  rgba(255, 255, 255, .3);

  --icon-fill: #dddddd;
}

.light {
  --background-document: #eeeeee;
  --background-content: #ffffff;
  --background-code: #eeeeee;

  --border-heading: #ff6768;

  --text-main: #343438;
  --text-link: #121216;

  --spinner-main: #343438;
  --spinner-secondary:  rgba(255, 255, 255, .6);

  --toggle-main: #343438;
  --toggle-secondary:  rgba(100, 100, 100, .4);

  --icon-fill: #343438;
}