/* Atelier-Cave */
.light {
  --hljs-colour: #585260;
  --hljs-background-colour: #eeeeee;

  --hljs-addition-background-colour: #2a9292;
  --hljs-addition-colour: #19171c;
  --hljs-attribute-colour: #be4678;
  --hljs-built-in-colour: #aa573c;
  --hljs-builtin-colour: #aa573c;
  --hljs-bullet-colour: #2a9292;
  --hljs-comment-colour: #655f6d;
  --hljs-deletion-background-colour: #be4678;
  --hljs-deletion-colour: #19171c;
  --hljs-keyword-colour: #955ae7;
  --hljs-link-colour: #be4678;
  --hljs-literal-colour: #aa573c;
  --hljs-meta-colour: #aa573c;
  --hljs-name-colour: #be4678;
  --hljs-name-colour: #be4678;
  --hljs-name-colour: #be4678;
  --hljs-number-colour: #aa573c;
  --hljs-params-colour: #aa573c;
  --hljs-quote-colour: #655f6d;
  --hljs-regexp-colour: #be4678;
  --hljs-section-colour: #576ddb;
  --hljs-selector-class-colour: #be4678;
  --hljs-selector-id-colour: #be4678;
  --hljs-selector-tag-colour: #955ae7;
  --hljs-string-colour: #2a9292;
  --hljs-symbol-colour: #2a9292;
  --hljs-tag-colour: #be4678;
  --hljs-template-variable-colour: #be4678;
  --hljs-title-colour: #576ddb;
  --hljs-type-colour: #aa573c;
  --hljs-variable-colour: #be4678;
}

/* Night Owl */
.dark {
  --hljs-colour: #d6deeb;
  --hljs-background-colour: #00101d ;

  --hljs-addition-cplor: #addb67ff;
  --hljs-attr-colour: #7fdbca;
  --hljs-attribute-colour: #80cbc4;
  --hljs-built-in-colour: #addb67;
  --hljs-builtin-name-colour: #7fdbca;
  --hljs-bullet-colour: #d9f5dd;
  --hljs-class-colour: #ffcb8b;
  --hljs-code-colour: #80CBC4;
  --hljs-comment-colour: #637777;
  --hljs-deletion-colour: #EF535090;
  --hljs-doctag-colour: #7fdbca;
  --hljs-emphasis-colour: #c792ea;
  --hljs-formula-colour: #c792ea;
  --hljs-function-colour: #82AAFF;
  --hljs-keyword-colour: #c792ea;
  --hljs-link-colour: #ff869a;
  --hljs-literal-colour: #ff5874;
  --hljs-meta-colour: #82aaff;
  --hljs-meta-keyword-colour: #82aaff;
  --hljs-meta-string-colour: #ecc48d;
  --hljs-nam-colour: #7fdbca;
  --hljs-number-colour: #F78C6C;
  --hljs-params-colour: #7fdbca;
  --hljs-quote-colour: #697098;
  --hljs-regexp-colour: #5ca7e4;
  --hljs-section-colour: #82b1ff;
  --hljs-selector-attr-colour: #c792ea;
  --hljs-selector-class-colour: #addb67;
  --hljs-selector-id-colour: #fad430;
  --hljs-selector-pseudo-colour: #c792ea;
  --hljs-selector-tag-colour: #ff6363;
  --hljs-string-colour: #ecc48d;
  --hljs-strong-colour: #addb67;
  --hljs-subst-colour: #d3423e;
  --hljs-symbol-colour: #82aaff;
  --hljs-ta-colour: #7fdbca;
  --hljs-template-tag-colour: #c792ea;
  --hljs-template-variable-colour: #addb67;
  --hljs-title-colour: #DCDCAA;
  --hljs-type-colour: #82aaff;
  --hljs-variable-colour: #addb67;
}