.component-root {
  max-width: var(--content-width);
  margin: var(--content-margin);
}

.component-root article {
  background-color: var(--content-background-colour);
  transition: var(--transition-theme);
}
