.component-root {
  max-width: var(--content-width);
  margin: 0 auto;
}

.component-root article {
  background-color: var(--background-content);
  transition: background-color var(--transition-theme);
}
