.component-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component-root article {
  background-color: var(--background-content);
  padding-top: 0;
}
