.component-root {
  max-width: var(--width-content);
  margin: var(--margin-content);
  padding: var(--padding-content);
  background-color: var(--background-colour-content);
  transition: var(--transition-theme);
  border-radius: var(--border-radius-content);
}

.component-root > :first-child {
  margin-top: 0;
}
.component-root > :last-child {
  margin-bottom: 0;
}

.message {
  font-size: larger;
}