.component-root {
  position: relative;
}

.content {
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: var(--z-index-content);
  position: relative;
}

.background-image {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--background-colour-document);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  transition: var(--transition-theme), opacity var(--transition-theme-timing);
}

.transparent-in {
  opacity: 0;
}

.opaque {
  opacity: 1;
}

.transparent-out {
  opacity: 0;
}
