.component-root {
  position: relative;
}

.content {
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: var(--z-index-content);
  position: relative;
}

.transparent-in {
  opacity: 0;
}

.opaque {
  opacity: 1;
}

.transparent-out {
  opacity: 0;
}

.background-picture {
  background-color: var(--background-colour-document);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  transition:
    var(--transition-theme),
    opacity var(--transition-theme-timing);
}

.background-image {
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 100%;
}
