.component-root {
  position: relative;
}

.content {
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: var(--z-index-content);
  position: relative;
}

.background-picture {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--background-colour-document);
  transition: var(--transition-theme), opacity var(--transition-theme-timing);
}

.background-image {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--background-colour-document);
  object-fit: cover;
  object-position: 50% 100%;
}

.transparent-in {
  opacity: 0;
}

.opaque {
  opacity: 1;
}

.transparent-out {
  opacity: 0;
}
