.bath {
  background-image: url("./images/bath.jpg");
}

.black-tusk {
  background-image: url("./images/black-tusk.jpg");
}

.christmas-trail {
  background-image: url("./images/christmas-trail.jpg");
}

.crabapple-drive {
  background-image: url("./images/crabapple-drive.jpg");
}

.english-bay-park {
  background-image: url("./images/english-bay-park.jpg");
}

.fagus {
  background-image: url("./images/fagus.jpg");
}

.galaxy {
  background-image: url("./images/galaxy.jpg");
}

.great-northern-highway {
  background-image: url("./images/great-northern-highway.jpg");
}

.green-lake {
  background-image: url("./images/green-lake.jpg");
}

.harmony-ridge {
  background-image: url("./images/harmony-ridge.jpg");
}

.jersey-cream {
  background-image: url("./images/jersey-cream.jpg");
}

.kew {
  background-image: url("./images/kew.jpg");
}

.lions-gate-bridge {
  background-image: url("./images/lions-gate-bridge.jpg");
}

.moon {
  background-image: url("./images/moon.jpg");
}

.nullarbor {
  background-image: url("./images/nullarbor.jpg");
}

.rainbow-park {
  background-image: url("./images/rainbow-park.jpg");
}

.royal-exhibition-hall {
  background-image: url("./images/royal-exhibition-hall.jpg");
}

.ship {
  background-image: url("./images/ship.jpg");
}

.sydney-harbour-bridge {
  background-image: url("./images/sydney-harbour-bridge.jpg");
}

.sydney {
  background-image: url("./images/sydney.jpg");
}

.tree {
  background-image: url("./images/tree.jpg");
}
