@import "./colours";
@import "./constants";

@mixin transition($delay, $property: all) {
    transition: $property $delay ease
}

@mixin transition-simple {
    @include transition($transition-duration-simple);
}

@mixin transition-complex {
    @include transition($transition-duration-complex);
}

@mixin transition-detailed {
    @include transition($transition-duration-detailed);
}

@mixin text-overlay {
    color: $white;
    background: $background-fade-black;
}