@import "../../styles/colours.scss";
@import "../../styles/constants.scss";

.root {
    padding: $block-padding;

    textarea {
        resize: none;
        height: 10rem;
    }
}

.field-group {
    box-sizing: border-box;
    width: 100%;
    padding: $block-padding;
}

.label, .field {
    box-sizing: border-box;
    padding: $inline-padding;
    display: block;
    width: 100%;
    border: none;
}

.close-button {
    background: transparent;
    font-size: 3em;
    color: $white;
    border: none;
    outline: none;
    cursor: pointer;
}