.component-root {
  max-width: var(--width-content);
  margin: var(--margin-content);
}

.article {
  background-color: var(--background-colour-content);
  border-radius: var(--border-radius-content);
  padding: var(--padding-content);
  transition: var(--transition-theme);
}

.date {
  border-bottom: 0.2rem solid var(--border-code-heading);
  font-size: 1.8rem;
  margin-bottom: var(--padding-content);
  transition: var(--transition-theme);
}

@media only screen and (max-width: 820px) {
  .title, .date {
    padding: 0 var(--padding-content);
  }
}
