.component-root {
  padding: var(--content-padding);
  margin: var(--content-margin);
  margin-right: var(--content-margin-width);
  max-width: 40rem;
  background-color: var(--background-colour-content);
}

.component-root p {
  margin: 0;
}

/* for-phone-only */
@media only screen and (max-width: 599px) {
  .component-root {
    margin-right: 0;
  }
}