
/* =============================================================================
   Body
   ========================================================================== */

body
{
	background-image :		url('../images/ShipSmall.jpg');
	background-color :		#000000;
	background-size :		100% auto;
	background-position : 	bottom;
	background-repeat :		no-repeat;
	background-attachment :	fixed;
	font-family :			Tahoma, Geneva, sans-serif;
	color :					#ffffff;
}

#title
{
	text-align :	right;
}

#title span
{
	cursor :		pointer;
}
	
/* =============================================================================
   Navigation
   ========================================================================== */

#navList
{
	width :			100%;
	position :		fixed;
	bottom :		50px;
	text-align:		center;
}

#navList span
{
	margin :		10px;
	text-align :	center;
	cursor :		pointer;
}

#navList span:hover
{
	background-image : url('../images/underline.jpg')
}

/* =============================================================================
   Home
   ========================================================================== */

#home
{
	text-align :	right;
}

#home p
{
	color :			#dddddd;
}

#home a
{
	color:#bbbbbb;
}