
/* =============================================================================
   Body
   ============================================================================= */

body
{
	font-family :			Tahoma, Geneva, sans-serif;
	color :					#ffffff;
	background-color :		#000000;
	min-height :			480px;
	min-width :				320px;
}

/* =============================================================================
   Title
   ============================================================================= */

#title
{
	position :		fixed;
	top :			2px;
	right :			10px;
	font-size :		34px;
	z-index :		9999;
}

#title span
{
	cursor :		pointer;
}

/* =============================================================================
   Navigation
   ============================================================================= */

#navList
{
	width :			100%;
	position :		fixed;
	bottom :		30px;
	text-align:		center;
	z-index:		9999;
}

.navButton
{
	color:			#999999;
	border-width :	1px;
	border-color:	#000000;
	padding :		0px 2px;
	text-align :	center;
	cursor :		pointer;
}

#navList span.navButton
{
	border-color:	#ffffff;
	padding:		0px 4px;
	margin:			0px 6px;
}

#navList .navButton:hover
{
	padding :		0px 3px;
}

.navButton:hover, #navList .navButton.current
{
	padding :		0px 3px;
	border-style:	none dotted;
}


.navButton.inLine
{
	padding : 0px;
	color: #cccccc;
	cursor: pointer;
}

.navButton.inLine:hover
{
	padding : 0px;
	border-style: none;
	color	: #eeeeee;
}

#navList .navButton.current
{
	cursor :	default;
}

/* =============================================================================
   Content General
   ============================================================================= */

#index-content
{
	position :		fixed;
	width :			auto;
	height :		auto;
	top :			60px;
	right :			10px;
	bottom :		80px;
	left :			10px;
	overflow :		hidden;
}

#scroller
{
	height:			100%;
	overflow :		auto;
}

#index-content-background
{
	position :	fixed;
	left :		0px;
	bottom :	0px;
	width :		100%;
	height :	auto;
	z-index :	-2;
}