
/* =============================================================================
   Body
   ============================================================================= */

body
{
	font-family :			Tahoma, Geneva, sans-serif;
	color :					#ffffff;
	background-color :		#000000;
	min-height :			480px;
	min-width :				320px;
}

/* =============================================================================
   Title
   ============================================================================= */

#title
{
	position :		fixed;
	top :			2px;
	right :			10px;
	font-size :		34px;
	z-index :		9999;
}

#title span
{
	cursor :		pointer;
}

/* =============================================================================
   Navigation
   ============================================================================= */

#navList
{
	color :			#dddddd;
	width :			100%;
	position :		fixed;
	bottom :		30px;
	text-align:		center;
	z-index:		9999;
}

#navList span
{
	padding :		0px 4px;
	margin :		0px 6px;
	border-color:	#ffffff;
	text-align :	center;
	cursor :		pointer;
}

#navList span:hover, #navList span.current
{
	padding :		0px 3px;
	border-width :	1px;
	border-style:	none dotted;
}

#navList span.current
{
	cursor :	default;
}
	
/* =============================================================================
   Content General
   ============================================================================= */

#index-content
{
	position :		fixed;
	width :			auto;
	height :		auto;
	top :			60px;
	right :			10px;
	bottom :		80px;
	left :			10px;
	overflow :		hidden;
}

#scroller
{
	right :			10px;
	height:			100%;
	overflow :		auto;
}

#background
{
	position :	fixed;
	left :		0px;
	bottom :	0px;
	width :		100%;
	height :	auto;
	z-index :	-2;
}