#scroller
{
	position :	absolute;
	width :		50%;
	min-width :	280px;
}

.skill
{
	margin :			0px 0px 30px 30px;
	padding :			20px;
	height :			180px;
	width :				180px;
	color :				#000000;
	background-color :	white;
	float:				left;
}

.skill-title
{
	font : 16px;
}

.skill-short-description
{
	font : 14px;
	display : none;
}

.skill-description
{
	display : none;
}