#scroller
{
	position	: absolute;
	width		: 50%;
	min-width	: 280px;
}

.tile
{
	margin				: 30px 0px 0px 30px;
	padding				: 20px;
	height				: 180px;
	width				: 180px;
	color				: #000000;
	background-color	: #FFFFFF;
	float				: left;
	cursor				: pointer; 
}

.tile-title
{
	font	: 16px;
}

.tile-short-description
{
	font	: 14px;
	display	: none;
}

.tile-description
{
	overflow			: auto;
	position			: fixed;
	top					: 60px;
	right				: 55%;
	bottom				: 79px;
	left				: 30px;
	padding				: 20px;
	min-width			: 210px;
	display				: none;
	background-color	: #FFFFFF;
	z-index				: 99999;
}