.component-root {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.component-root > * {
  margin-right: 1rem;;
}

.component-root > :last-child {
  margin-right: 0;
}

.link {
  color: var(--colour-text-main);
  transition: var(--transition-theme), border-color var(--transition-average);
  padding: 0 0.5rem;
  border-bottom: none;
  border-left: 0.2rem dotted;
  border-right: 0.2rem dotted;
  border-color: transparent;
}


.link:hover, .link.active {
  border-color: var(--colour-text);
}

.link.active {
  border-left: 0.2rem dotted var(--colour-text);
  border-right: 0.2rem dotted var(--colour-text);
}
