body
{
	background-image:		url('../images/ShipSmall.jpg');
	background-color:		#000000;
	background-size:		100% auto;
	background-position: 	bottom;
	background-repeat:		no-repeat;
	background-attachment:	fixed;
}

#info
{
	font-family: Tahoma, Geneva, sans-serif;
	text-align: right;
}

#info a
{
	color:#bbbbbb;
}

#title
{
	color:#ffffff;
}

#text
{
	color:#dddddd;
}