[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
uvloop = "*"
pychalk = "*"

[dev-packages]
watchgod = "*"

[requires]
python_version = "3.7.3"

[scripts]
start="python"
